:root{
  --black:#1C1A1C;
  --blue:rgb(0, 128, 255);
  --grey:grey;
  --white:white;
  --darkgrey:#1b1b1b;
  --green:#61c96f;
  --red:#f94141 ;

}

body{
  background-color: var(--black);
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: var(--white);
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  }