.footer{
    display: flex;
    flex-direction: row;
    height: 4rem;
    position:relative;
    bottom: 0;
    background-color: var(--blue);
    margin: 1rem ;
    color: white;
    border-radius: .5rem;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
}
.footerlogo{
    color: var(--white);
}
.icons{
    display: flex;
    flex-direction: row;
    gap: .7rem;
}